node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
.env.production
*.json
!vercel.json
!package.json
!package-lock.json
!tsconfig.json
!tailwind.config.ts
attached_assets/*.json
.env.google
.local/
